/books-service/.gitignore
/library-service/.gitignore
/control-service/.gitignore
/rating-service/.gitignore
/gateway-service/.gitignore
/session-service/.gitignore
/report-service/.gitignore
/frontend/.gitignore

node_modules